

<div class="span4 offset1 boxy text-center">

	<h1 class="h1-custom">
		Welcome to the online skill development center!
	</h1>

	<br> <br>

	<h2>
	We will help increase your skills to get a new job!
	</h2>

	<%= link_to 'launch', '#', :class => 'btn btn-primary btn-large'  %>


</div> 