<!-- This is our home page -->

<div class="span6 offset4 boxy text-center">

	<h1 class="h1-custom">
		Welcome to the digital skill development center!
	</h1>

	<br> <br>

	<h2>
	We will help increase your skills to get a new job!
	</h2>

	<%= link_to 'launch', new_pic_path, :class => 'btn btn-primary btn-large'  %>


</div> 